* {
  padding:0;
  margin:0;
  outline:none;
  box-sizing:border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
img {
  width:100%;
  height:100%;
}
@font-face {
  font-family: 'txxc';
  font-weight: normal;
  font-style: normal;
  src: url('../ttf/腾祥细潮黑简.ttf') format('truetype');
}
@font-face {
  font-family: 'hxb';
  font-weight: normal;
  font-style: normal;
  src: url('../ttf/HuXiaoBoNanShenTi-2.otf') format('truetype');
}
body {
  width:100vw;
  height:100vh;
  overflow-y:auto;
  background: linear-gradient(135deg, #E7F4E3 10%, #E8F6F6 80%, #E7F4E3 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#china-map {
  padding:0;
  margin:0;
  width: 100vw;
  height: 100vw;
  margin: 0 auto;
  margin-top:0vw;
}
.head-title-box {
  width:100vw;
  padding-top:14.15vw;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin:0 auto;
  user-select: none;
}
.head-title-box > div {
  text-align:center;
}
.head-title {
  width:74.39vw;
}
.head-title:nth-child(1) {
  line-height: 15.76vw;
  height:15.76vw;
  font-family: 'txxc';
  font-size:11.12vw;
  color:white;
  background-image: url(../image/标题.png);
  background-repeat: no-repeat;
  background-size:cover;
}
.head-title:nth-child(2) {
  height:4.04vw;
  line-height:4.04vw;
  font-size:4.04vw;
  font-family:'hxb';
  margin-top:4.99vw;
}
.relay {
  padding:0 3vw;
  height:4.85vw !important;
  line-height:4.85vw;
  font-size:3.23vw;
  color:white;
  font-family:'hxb';
  background-color: #000;
  border-radius:2vw;
  margin-top:1.617vw;
}
.background-font {
  width:100vw;
  text-align: center;
  font-size:21.644vw;
  color:#fff;
  position:absolute;
  top:32.21vw;
  left:0;
  z-index:-1;
}
.barrage-box {
  width:100vw;
  height:40vw;
  float:left;
  position:position;
  top: 55vw;
  left:0;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  pointer-events: none; /* 点击穿透 */
  user-select: none;
}
.barrage {
  width:100vw;
  height:8vw;
  font-size:4vw;
  line-height:8vw;
  text-align:center;
  color:rgb(212, 168, 71);
  overflow:hidden;
  padding:0 4vw;
  pointer-events: none;
}
.barrage > div {
  height:8vw;
  white-space: nowrap;
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.barrage > div:nth-child(2),.barrage > div:nth-child(4) {
  padding-left:50vw;
}
.barrage-item {
  height:8vw;
  display:flex;
  justify-content:space-around;
  align-items: center;
  background-color: rgba(106, 191, 231, 0.274);
  border-radius: 8vw;
  padding:5vw;
  margin-right:50vw;
  animation: 30s wordsLoop linear infinite;
} 
@keyframes wordsLoop {
  0% {
    transform:translate(calc(200% + 200vw));
  }
  100% {
    transform:translate(calc(-200% - 250vw));
  }
}
.portait {
  width:6vw;
  height:6vw;
  border-radius: 50%;
  overflow: hidden;
}
.text {
  padding:2vw;
}
.foot-box {
  width:100vw;
  height:30vw;
  display:flex;
  justify-content:space-between;
  align-items: center;
  float:right;
  position: relative;
  z-index:10;
}
.chear-box {
  width:60.242vw;
  height:30vw;
  margin:0 auto;
  margin-left:20vw;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.chear-box > div {
  margin:0 auto;
  text-align:center;
}
.ad {
  font-size:4.04vw;
  color: #5b5b5b;
  font-family: 'hxb';
  user-select: none;
}
.input-box {
  width:60.242vw;
  height:6.46vw;
  border-radius: 2vw;
  margin-top:2vw;
  display:flex;
  justify-content: center;
  align-items: center;
  border:1px solid rgb(131, 129, 129);
  user-select: auto;
  position:relative;
}
.input-box > input {
  appearance:none;
  -webkit-appearance: none;
  outline:none;
  border-radius: 2vw;
  border:none;
  width:100%;
  height:100%;
  padding:0 2vw;
  user-select: text;
  cursor:text;
}
.button {
  appearance: none;
  -webkit-appearance: none;
  width:36.52vw;
  height:9.43vw;
  background-color: #3FA0A7;
  color:white;
  font-family: 'hxb';
  border-radius: 2vw;
  font-size:4.04vw;
  line-height:9.43vw;
  text-align:center;
  cursor: pointer;
}
.bbt-img {
  width:11.05vw;
  height:16.44vw;
  margin-right:4.31vw;
  margin-bottom:4vw;
  align-self: flex-end;
  user-select: none;
}